 .test{color: #66ff77; font-size:1em; background-color: #aa55bb; position:absolute;
    top: 40px;
    left: 400px;}
#test3 {
         background-color: silver;
         position:relative;
left: 350px;
      }